a {text-decoration: none; color: inherit; color:rgb(255, 255, 255);}
li {list-style-type: none;}
#Portfolio {color: #F17A7E}
#Contact {color: #F17A7E}
header {display: flex;
padding: 25px 2%;}
.flex {display: flex; justify-content: space-between;}
.ulflex {display: flex; justify-content: space-between;}
ul {justify-content: space-between;}
nav {width: 350px; height: auto;}
section {
    padding: 25px 2%;
}
#footerdiv {width: 600px; height: auto;}
header {align-items: center;
justify-content: space-between;}
header {background-color: #4A6163}
footer {background-color: #4A6163}
footer {text-decoration: none; color: inherit; color: rgb(255, 255, 255);}
header {font-family: 'AbrilFatface-Regular';}
footer {font-family: 'AbrilFatface-Regular';}
form {font-family: 'EBGaramond-VariableFont_wght';;}
form {font-weight: bold;}
section {background-color: #F1F3F4}
section {width: 100%;}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  h1{
    font-size: 35px;
  }
  footer{
    padding: 25px 2%;
    width: 100%;
}
li:hover {color: black;}